# Secret Encryption Key & Salt Configuration
# NOTE: In Vite, variables used by client scripts in the browser must begin with VITE_

# Master Private Encryption Key used to encrypt & decrypt partner names
VITE_SECRET_KEY=MoonlitBedroomStorybook_SecretKey_2026_♡

# Optional Extra Salt / Pepper for added uniqueness
VITE_SALT_KEY=CozyBedroomStarryNight_Salt
